<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.cofar.backendapolo.login.repository.AdmUsuarioRepository">

    <resultMap id="UsuarioResulMap" type="com.cofar.backendapolo.login.model.Usuario">
        <result column="COD_PERSONAL" property="id" />
        <result column="COD_AREA_EMPRESA" property="codAreaEmpresa" />
        <result column="CODIGO_CARGO" property="codCargo" />
        <result column="name" property="name" />
        <result column="NOMBRE_USUARIO" property="username" />
        <result column="CORREO_EMPRESA" property="email" />
        <result column="CONTRASENA_USUARIO" property="password" />
    </resultMap>


    <select id="buscarUsuarioPorNombre" resultMap="UsuarioResulMap" >
            select u.COD_PERSONAL, p.COD_AREA_EMPRESA, p.CODIGO_CARGO,
            p.NOMBRES_PERSONAL + ' ' + p.AP_PATERNO_PERSONAL as name, u.NOMBRE_USUARIO,
            p.CORREO_EMPRESA, u.CONTRASENA_USUARIO
            from USUARIOS_MODULOS u inner join personal p
            on u.COD_PERSONAL = p.COD_PERSONAL
            where u.NOMBRE_USUARIO = #{nombreUsuario}
            and u.COD_MODULO = 4
            and p.COD_ESTADO_PERSONA = 1
    </select>

    <select id="findById" resultMap="UsuarioResulMap" >
        select u.COD_PERSONAL, p.COD_AREA_EMPRESA, p.CODIGO_CARGO,
        p.NOMBRES_PERSONAL + ' ' + p.AP_PATERNO_PERSONAL as name, u.NOMBRE_USUARIO,
        p.CORREO_EMPRESA, u.CONTRASENA_USUARIO
        from USUARIOS_MODULOS u inner join personal p
        on u.COD_PERSONAL = p.COD_PERSONAL
        where u.COD_PERSONAL = 1430
        and u.COD_MODULO = 4

    </select>

    <select id="listarTodo" resultMap="UsuarioResulMap" >
       select u.id, u.email, u.name, u.password, u.username from users u
    </select>



</mapper>
