<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cofar.backendapolo.pruebasCRUD.mapper.EstadoRegistroMapper">

    <!--
    *******************   MAPPERs SIMPLES  ************************
    -->
    <resultMap id="estadoRegistroMap" type="com.cofar.backendapolo.pruebasCRUD.model.EstadoRegistro">
        <id property="codEstadoRegistro" column="COD_ESTADO_REGISTRO"/>
        <result property="nombreEstadoRegistro" column="NOMBRE_ESTADO_REGISTRO" />
        <result property="obsEstadoRegistro" column="OBS_ESTADO_REGISTRO" />
    </resultMap>

    <!--
    *******************   MAPPERs CON ANIDADOS  ************************
    -->
    <resultMap id="resultEstadoRegistroWithChild" type="com.cofar.backendapolo.pruebasCRUD.model.EstadoRegistro">
        <id property="codEstadoRegistro" column="COD_ESTADO_REGISTRO"/>
        <result property="nombreEstadoRegistro" column="NOMBRE_ESTADO_REGISTRO" />
        <result property="obsEstadoRegistro" column="OBS_ESTADO_REGISTRO" />
        <collection property="paises" resultMap="com.cofar.backendapolo.pruebasCRUD.mapper.PaisMapper.resultPais" />
    </resultMap>




    <!--
    *******************   CONSULTAS SELECT  ************************
    -->
    <select id="getEstadosRegistros" resultMap="estadoRegistroMap">
        SELECT *
        FROM ESTADOS_REGISTRO
    </select>

    <select id="getEstadosRegistrosWithChild" resultMap="resultEstadoRegistroWithChild">
        select *
        from ESTADOS_REGISTRO e
        inner join PAISES p
        on p.COD_ESTADO_REGISTRO = e.COD_ESTADO_REGISTRO;
    </select>



    <!--
    *******************   CONSULTAS INSERT, UPDATE Y DELETE  ************************
    -->
</mapper>
