<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cofar.backendapolo.tiposClientes.mapper.TipoClienteMapper">

	<!--
    *******************   MAPPERs SIMPLES  ************************
    -->
	<resultMap id="tipoClienteMap" type="com.cofar.backendapolo.tiposClientes.model.TipoCliente">
		<id property="codTipoCliente" column="COD_TIPOCLIENTE" />
		<result property="nombreTipoCliente" column="NOMBRE_TIPOCLIENTE" />
		<result property="obsTipoCliente" column="OBS_TIPOCLIENTE" />
		<result property="codEstadoRegistro" column="COD_ESTADO_REGISTRO" />
	</resultMap>

	<resultMap id="tipoClienteMapDTO" type="com.cofar.backendapolo.tiposClientes.model.TipoClienteDto">
		<id property="codTipoCliente" column="COD_TIPOCLIENTE" />
		<result property="nombreTipoCliente" column="NOMBRE_TIPOCLIENTE" />
	</resultMap>


	<!--
    *******************   CONSULTAS PRESENTACIONES_PRODUCTO  ************************
    -->
	<select id="getCodAndNombreActive" resultMap="tipoClienteMapDTO">
		SELECT COD_TIPOCLIENTE, NOMBRE_TIPOCLIENTE
		FROM TIPOS_CLIENTE
		WHERE COD_ESTADO_REGISTRO = 1
    </select>

</mapper>