<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cofar.backendapolo.api._v1.mapper.TipoIngresoVentaMapper_v1">

	<!--
     *******************************************************************************************************************
     *******************************************************************************************************************
     ***********************************************    API VERSION 1     **********************************************
     *******************************************************************************************************************
     *******************************************************************************************************************
    -->
	<resultMap id="tiposIngresosVentasMapV1" type="com.cofar.backendapolo.api._v1.molulos.tipoIngresoVenta.model.TipoIngresoVenta">
		<id property="codTipoIngresoVenta" column="COD_TIPOINGRESOVENTAS" />
		<result property="nombreTipoIngresoVenta" column="NOMBRE_TIPOINGRESOVENTAS" />
		<result property="obsTipoIngresoVenta" column="OBS_TIPOINGRESOVENTAS" />
		<result property="codEstadoRegistro" column="COD_ESTADO_REGISTRO" />
		<result property="abreviaturaTipoIngresoVenta" column="ABREVIATURA_TIPOINGRESOVENTAS" />
	</resultMap>

	<resultMap id="tiposIngresosVentasMapDtoV1" type="com.cofar.backendapolo.api._v1.molulos.tipoIngresoVenta.model.TipoIngresoVentaDto">
		<id property="codTipoIngresoVenta" column="COD_TIPOINGRESOVENTAS" />
		<result property="nombreTipoIngresoVenta" column="NOMBRE_TIPOINGRESOVENTAS" />
	</resultMap>

	<select id="getCodAndNombreActive" resultMap="tiposIngresosVentasMapDtoV1">
		SELECT COD_TIPOINGRESOVENTAS, NOMBRE_TIPOINGRESOVENTAS
		FROM TIPOS_INGRESOVENTAS
		WHERE COD_TIPOINGRESOVENTAS != 6
		AND COD_ESTADO_REGISTRO = 1
    </select>


</mapper>